@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: transparent;


  height: 70px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  margin: auto;
}

#logo img {
  height: 25px;
  width: 197px;
}

#main-nav {
  width: 100%;
  height: 100%;
}

li.nav-item {
  list-style-type: none;
  font-family: "Oswald";
  font-weight: 400;
  border-bottom: 1px solid rgba(46, 60, 84, 0);
  font-size: 20px;
  transition: 0.2s;
  margin: 0px 20px;
  color: rgba(255, 255, 255, 0.5);
}

li.nav-item:hover {
  color: white;
  cursor: pointer;
}

.nav-burger {
  display: none;
  background: none;
  border: none;
  width: 32px;
  height: 32px;
}

.nav-burger img {
  fill: white;
  width: 100%;
}

#main-nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



@media (max-width: 820px) {
  header {
    justify-content: center;
  }

  .nav-burger {
    display: block;
  }

  li.nav-item {
    margin: 0 12px;
  }

  #main-nav {
    position: fixed;
    inset: 0;
    background-color: #00000033;
    z-index: 1000;
    transition: opacity .3s ease-out .3s;
  }

  .options-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: white;
    width: fit-content;
  }

  #main-nav ul {
    padding: 15px;
    display: block;
    transition: transform .3s ease-out;
  }

  #main-nav li {
    color: black;
    padding: 10px 20px;
    border-bottom: 1px solid black;
  }

  #main-nav li:last-child {
    border-bottom: none;
  }

  .hidden {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
  }
  
  .hidden .options-menu {
      transform: translateX(-100%);
  }



}

#home-container {
  background-image: url(images/sadiebg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-position: center;
  position: relative;
}

.hero {
  font-family: "Oswald", sans-serif;
  width: auto;
  height: 95vh;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 135.161px;
  text-align: center;
  letter-spacing: 0.155em;

  color: #f5f5f5;
}

.hero h2 {
  font-family: "Reenie Beanie";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0.155em;
  color: #f5f5f5;
}

#collection-title {
  margin: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bottom-text-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 75px;
  height: auto;
}

#bottom-text-hero p {
  font-family: "Reenie Beanie";
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 300;
  font-size: 40px;
  color: #f5f5f5;
}

h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 80px;

  color: #0a0a0a;
}

#collection-title {
  margin: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bottom-text-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 75px;
  height: auto;
}

#bottom-text-hero p {
  font-family: "Reenie Beanie";
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 300;
  font-size: 40px;
  color: #f5f5f5;
}

h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 80px;

  color: #0a0a0a;
}

#collection-title {
  margin: 30px 75px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#collection-title h2 {

  font-family: "Reenie Beanie";
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  color: #0a0a0a;

}

#sadie-collection button {
  margin-top: 40px;
  ;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  width: 166.98000000000002px;
  height: 59.59px;
  color: #0a0a0a;
  background-color: transparent;
  border: 3px solid #0a0a0a;
  border-radius: 15px;
  justify-content: center;
  transition: 0.2s;
}

#sadie-collection button:hover {
  cursor: pointer;
  color: #f5f5f5;
  background-color: #0a0a0a;
  border: 3px solid #0a0a0a;
}

#sadie-collection {

  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.container {
  width: 400px;
  height: 600px;
  margin: 0 75px;


  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-wrapper {
  position: relative;


}

.slider {
  width: 800px;
  height: 600px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: contain;
  object-position: 50% 50%;
}

#slide1 img {
  height: 200px;
  width: 200px;
}

#slide2 img {
  height: 200px;
  width: 200px;
}

#slide3 img {
  height: 200px;
  width: 200px;
}

.container h4 {

  font-family: "Oswald";
  text-align: center;
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  transform: rotate(90deg);
  width: 436px;
  height: 20px;
  margin: -95px;

}

.slider-nav {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

#sadie-text p {
  width: 300px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 200;
  line-height: 200%;
  text-align: start;

}

video {
  background-color: transparent;
  height: auto;
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#trends-title {

  margin: 20px;

}

#trends {
  margin: 90px 75px;

}


#trends-media {
  display: flex;
  flex-direction: row;

}

.trend2 {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.trend2 img {
  margin: 0 -20px;
  padding-top: 20px;
  width: 176px;
  height: 240px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.trend2 button {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 100px;
  height: 50px;
  color: #f5f5f5;
  background-color: transparent;
  border: 3px solid #f5f5f5;
  border-radius: 5px;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.trend2 button:hover {
  color: #0a0a0a;
  background-color: #f5f5f5;
}

.buy-btn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.trend2:hover img {
  filter: brightness(40%);

}

.trend2:hover .buy-btn {
  opacity: 1;
}


.carrusel-title {
  margin: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Pull&Lovers */

.wrapper {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  position: relative;
  font-family: 'Roboto Condensed';

}

.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #1b1915;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  box-shadow: 2px 4px 16px 2px rgba(0, 0, 0, 0.25);

}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #fffdfd;
}

.wrapper i:first-of-type {
  left: 50px;
  display: none;
  z-index: 2;
}

.wrapper i:last-child {
  right: 50px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel a {
  position: relative;
  display: inline-block;
  width: calc(72% / 3);
  margin-left: 14px;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 416px;
  object-fit: cover;
  user-select: none;
  width: 100%;
}


#carrusel>a {
  margin: auto;
  display: block;
  margin-top: 50px;
  border: 3px solid rgb(14, 14, 14);
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  width: fit-content;
  text-decoration: none;
  color: rgb(8, 8, 8);
  font-family: "Oswald";
  transition: 0.2s;
}

#carrusel>a:hover {
  background-color: #1b1915;
  color: #f5f5f5;
}

/*@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}*/

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }

  .carousel>a {
    width: 100%;
  }

}

/*Top Products*/

.galeria {


  --gap: 20px;
  --num-cols: 4;
  --row-height: 848;

  box-sizing: border-box;
  padding: var(--gap), 0px;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  margin: -30px 6%;
  font-family: 'Roboto Condensed', sans-serif;
}


.galeria>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-col-2 {
  grid-column: span 2;

}

.galeria-row-2 {
  grid-row: span 2;
}

/* Anything under 1024px */
@media screen and (max-width: 1024px) {
  .galeria {
    --num-cols: 2;
    --row-height: 450px;
  }
}


#one {}


#two {
  display: none;
}


#three {

  display: none;
}


#products {

  position: relative;


}

#products i {
  top: 56%;
  height: 44px;
  width: 44px;
  color: #1b1915;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  line-height: 44px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  box-shadow: 2px 4px 16px 2px rgba(0, 0, 0, 0.25);

}


#products i:active {
  transform: translateY(-50%) scale(0.9);
}

#products i:hover {
  background: #fffdfd;
}

#products i:first-of-type {
  left: 57px;
  line-height: 44px;
  z-index: 2;
}

#products i:last-child {
  right: 57px;
  line-height: 44px;
}

.overlay {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: row-reverse;
  text-align: center;
  top: 0;
  left: 0;
  background: linear-gradient(188deg, rgba(0, 8, 19, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000813", endColorstr="#000000", GradientType=1);
  opacity: 0;
  transition: opacity 0.25s;
}

.overlay>h2 {
  position: absolute;
  top: 77%;
  display: block;
  font-size: 1.6em;
  transform: translateY(-40px);
  transition: transform 0.25s;
  font-size: 1.5rem;
  color: antiquewhite;
  width: 100%;
}

.overlay>h3 {
  position: absolute;
  top: 57%;
  display: block;
  font-size: 1.6em;
  transform: translateY(-40px);
  transition: transform 0.25s;
  font-size: 1.5rem;
  color: antiquewhite;
  width: 100%;
}

.overlay a {
  position: absolute;
  top: 50%;
  transform: translateY(40px);
  width: 100%;
  display: block;
  color: #f5f5f5;
}

.overlay:hover {

  opacity: 100%;

}


.overlay:hover h2 {

  transform: translateY(0);

}


.galeriahover {

  position: relative;


}

.galeriahover>img {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

.products-title {

  margin: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.outfit-title {

  margin: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* outfit of the week*/

.outfit-cont {
  padding: 77px;
  padding-top: 0;
}

.outfit-cont .outfit-cont_wrapper,
.outfit-cont_images_wrapper {

  width: 100%;

}

.outfit-cont_wrapper {

  max-width: 480px;
  margin: auto;

}

.outfit-cont_images_wrapper {

  margin-bottom: min(21vw, 125px);
  position: relative;

}

.outfit-cont_image {

  display: block;
  max-width: 100%;

}


.outfit-cont_image-small {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: scale(0.5) translateY(30%);
  transform-origin: bottom;


}

.outfit-cont_text {

  font-size: 17px;
  margin-bottom: 25px;
  font-family: 'Roboto Condensed';
}


.outfit-cont_price {

  font-size: 45px;
  font-weight: 700;
  font-family: sans-serif;
  margin-bottom: 24px;
  text-align: center;

}

.outfit-cont_button {

  margin: auto;
  display: block;
  margin-top: 50px;
  border: 3px solid rgb(14, 14, 14);
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  width: fit-content;
  text-decoration: none;
  color: rgb(8, 8, 8);
  font-family: "Oswald";
  transition: 0.2s;

}

.outfit-cont_button:hover {
  background-color: #1b1915;
  color: #f5f5f5;
}


@media (min-width: 1024px) {
  .outfit-cont_wrapper {
    align-items: center;
    display: flex;
    max-width: 1000px;
    gap: 80px;
  }

  .outfit-cont_content {
    flex: 300px 1 0;
  }

  .outfit-cont_images_wrapper {
    flex: 100% 3;
  }

  .outfit-cont_image {
    width: 80%;
  }

  .outfit-cont_image-small {
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    width: 40%;
  }
}

/*RECENTLY VIEWED*/

#r-viewed {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
  display: flex;
  height: fit-content;
  margin: 79px 0;
  width: 100%;
  align-items: center;
}


#r-viewed h4,
h2,
a,
p {
  margin: 0;
}

#r-viewed h3 {
  margin-bottom: 50px;
  margin-left: 16px;
  margin-top: -120px;
}

#r-viewed a {
  text-decoration: none;
}

.carousel-viewed {
  width: auto;
  margin: 0px 60px;
}

.slick-list {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 350px;
  padding: 30px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.slick {
  position: relative;
  width: 230px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin-bottom: 10px;
}

.slick h4 {
  height: 20px;
  font-size: 13px;
  line-height: 5px;
  text-align: center;
  color: #0a0a0a;
  padding-top: 15px;
}

.slick p {
  font-size: 14px;
  text-align: center;
  color: #0a0a0a;
  padding-top: 10px;
}

.slick a img {
  object-fit: cover;
  height: 310px;
  width: 220px;
  transition: 0.3s ease-in-out;
}

.slick a img:hover {
  filter: brightness(60%);
  cursor: pointer;

}

/* buttons */

.slick-arrow {
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow svg {
  width: 12px;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}


/*foother*/

footer {
  border-top: 1px solid rgba(25, 25, 25, 0.2);
  ;
  padding: 70px;
  display: flex;
  flex-direction: column;
  color: #6F6F6F;
  font-family: 'Roboto Condensed', sans-serif;
}

.upper-footer {

  display: flex;
  flex-direction: row;
  align-items: baseline;

}

.upper-footer-company {

  text-align: left;
  margin-left: 150px;

}

.upper-footer-buttons {

  margin-left: 180px;

}

.upper-footer-buttons-title-util {

  margin: 25px 0;
}

.upper-footer-help-item {
  margin: 19px;
}

.upper-footer-company-item {

  margin: 19px;

}


.lower-footer-item {

  margin: 3px;

}

.lower-footer {

  margin: -34px 19px;
  display: flex;
  flex-direction: column;

}


.lower-footer-p {
  width: 100%;
  margin-bottom: 24px;
}

.lower-footer-input {
  width: 25em;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  margin-bottom: 16px;
}

.lower-footer-button {
  width: 25em;
  height: 3em;
  background-color: #000000;
  color: #fff;
  border: none;
}

.lower-footer-button:hover {

  cursor: pointer;

}

.upper-footer-buttons-findus-div-button {

  background-color: #fff;
  border: none;
}

.upper-footer-buttons-findus-div-button:hover {
  cursor: pointer;
}

.upper-footer-buttons-findus-div-button-img {

  width: 115px;

}

.upper-footer-buttons-findus-div-button-img-gp {

  width: 133px;

}

.upper-footer-buttons-payment-div-button {

  background-color: #fff;
  border: none;
  margin: 0 3px;
}

.upper-footer-buttons-payment-div-button:hover {
  cursor: pointer;
}

.upper-footer-buttons-payment-div-button-img {

  width: 64px;

}

.upper-footer-buttons-follow-div-button {

  background-color: #fff;
  border: none;
  margin: 0 3px;
}

.upper-footer-buttons-follow-div-button:hover {
  cursor: pointer;
}

.upper-footer-buttons-follow-div-button-img {

  width: 42px;

}

@media screen and (max-width: 1024px) {
  .upper-footer {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
    padding-top: 15px;

  }

  .upper-footer-company {

    display: block;
    margin-left: 0%;
    width: 235px;


  }


  .upper-footer-help {

    display: block;
    margin-left: 0%;
    width: 235px;

  }


  .lower-footer-input {

    width: 20em;
  
  }

  .lower-footer-button {
    width: 20em;

  }

  .upper-footer-help-item {

    margin-left: 0%;

  }

  .upper-footer-company-item {

    margin-left: 0%;

  }

  .upper-footer-buttons {

    margin-left: 0%;

  }


  .lower-footer{

  margin-top: 12px;
  margin-left: 0%;
  margin-bottom: 70px;
  }

}


/*///*/


@media screen and (max-width:1080px) {
  #sadie-collection>section {
    flex-direction: column;
    height: fit-content;
  }

  #text-sadie {
    position: absolute;
    left: 10%;
    bottom: 11%;
  }

  #sadie-text {
    margin-top: 60px;
    margin-left: -150px;
  }

  #sadie-collection {
    position: relative;
    justify-content: center;
  }

  .slider-wrapper {
    width: 120%;
  }

  .slider {
    width: 100%;
  }

  .nav-item {
    font-size: 12px !important;
  }

  #trend-row {
    margin-left: -20px;
  }

  .hero h1{
    font-size: 95px;
  }

  .hero h2{
    font-size: 43px;
  }

  h3{
    font-size: 40px;
  }

  #collection-title {
    margin: 30px 40px;
  }

  #collection-title> h2{
    font-size: 32px;
    text-align: left;
  }

  
  
  #bottom-text-hero {
    padding: 0 0px;

  }

  #bottom-text-hero>p{
    font-size: 28px;
  }

  #trends-media {
    display: flex;
    flex-direction: column;
  
  }
.slider{
  width: 400px;
  height: 300px;
}
  
}

@media screen and (max-width:500px){
  #sadie-text{
    margin-top: 20px;
    margin-left: 76px;
  }

  #sadie-text> p{
    width:250px;
  }

   #text-sadie{
    left: -9%;
    bottom: 23.5%;
   }
#text-sadie > h4{
  font-size: 60px;
}

  .carousel-viewed{
    margin: 0;

  }


.slider{

width: 100%;

}
.slider-wrapper{
  width: 100%;
}

.container{

width: 100%;

}
#trend-row{
  margin-left: -72px;
}

}