* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: transparent;

  /*background-color: #ccc;*/

  height: 70px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.material-symbols-outlined {
  color: #fff;
  padding-right: 15px;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

#logo {
  margin: 0;
  height: 100%;
}

#logo img {
  height: 45px;
  width: 270px;
}

#main-nav {
  width: 100%;
  height: 100%;
}

li.nav-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(46, 60, 84, 0);
  font-size: 20px;
  font-weight: bold;
  transition: 0.2s;
  margin: 8px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.5);
}

li.nav-item:hover {
  color: white;
  cursor: pointer;
}

#main-nav ul {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home-container{

  background-image: url(images/sadiebg.png);
  background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;

}

.hero {

  font-family: "Oswald", sans-serif;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  position: absolute;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 135.161px;
  line-height: 200px;
  text-align: center;
  letter-spacing: 0.155em;

  color: #f5f5f5;
}

.hero h2 {
  position: absolute;
  margin-top: 30px;
  font-family: "Reenie Beanie";
  font-style: normal;
  font-weight: 500;
  font-size: 87.88px;
  line-height: 88px;
  text-align: center;
  letter-spacing: 0.155em;

  color: #ffffff;
}
