@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.container-back-button {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: flex-start;
  font-family: "Oswald";
}

/*main {
  padding: 0 70px;
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}

.product-small-img img{
  height: 92px;
  margin: 10px 0;
  cursor: pointer;
  display: block;
  opacity: 0.6;
  
  }

.product-small-img img:hover{
  opacity: 1;
}

.product-small-img{
  float: left;

}

.product-gallery{
  top: 10%;
  left:30%;
  transform: translate(-50%,-50%);
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.img-container img{
  height: 500px;
}

.img-container{
  float: right;
  padding: 10px;
}

/*.container-img {
    background-color: aliceblue;
    flex: 1;
  }
  */

  main {
    padding: 0 85px;
    display: flex;
    gap: 100px;
    align-items: center; /* centrar verticalmente los elementos */
  }
  
  .product-small-img img{
    height: 135.5px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: 0.6;
  }
  
  .product-small-img img:hover{
    opacity: 1;
  }
  
  .product-small-img{
    /* Eliminar la propiedad float */
  }
  
  .product-gallery{
    /* Eliminar las propiedades float y position */
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .img-container img{
    height: 573px;
  }
  
  .img-container{
    padding: 10px;
    /* Eliminar la propiedad float */
  }


.card-principal {
  display: flex;
  gap: 10%;
}
img {
  width: 100%;
  display: block;
}
.img-display {
  overflow: hidden;
  width: 148%;
}
.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}
.img-select {
  display: flex;
  flex-direction: column;
  width: 37%;
}
.img-item {
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.img-item:hover {
  opacity: 0.8;
}

.container-info-product {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container-price {
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.container-price {
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 300;
}

.container-details-product {
  padding: 30px 0;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  font-family: "Roboto Condensed";
}

.form-group label {
  width: 100px;
  color: #222;
  font-weight: 700;
}

.form-group select {
  width: 300px;
  border: none;
  outline: none;
  padding: 12px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  border-width: 1.5px;
  color: #0a0a0a;
}

.container-add-cart {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e4;
}

.container-quantity {
  position: relative;
}

.input-quantity {
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  border-width: 1.5px;
  color: #0a0a0a;
  padding: 10px;
  width: 60px;
  height: 100%;
  font-weight: 500;
  line-height: 0;
  font-family: "Oswald";
  font-weight: 400;
}

.input-quantity:focus {
  outline: none;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.btn-increment-decrement {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  right: 6px;
  fill: #0a0a0a4a;
}

.btn-increment-decrement path:hover {
  fill: #0a0a0a;
}

.btn-add-to-cart {
  font-family: "Oswald";
  background-color: #0a0a0a;
  width: 340px;
  border-radius: 3px;
  padding: 10px;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-add-to-cart:hover {
  cursor: pointer;
  color: #0a0a0a;
  background-color: #f5f5f5;
  border: 3px solid #0a0a0a;
  fill: #0a0a0a;
  translate: -2px;
}

#shopping-bag path {
  fill: #f5f5f5;
}

.btn-add-to-cart #shopping-bag path:hover {
  fill: #0a0a0a;
}

svg {
  width: 20px;
  height: 20px;
}

.hidden {
  display: none;
}

.container-description,
.container-additional-information,
.container-reviews {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0;
}

.title-description,
.title-additional-information,
.title-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.title-description h4,
.title-additional-information h4,
.title-reviews h4 {
  font-family: "Oswald";
  font-weight: 500;
  color: #666;
  font-size: 14px;
}

.text-description,
.text-additional-information,
.text-reviews {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #252525;
  line-height: 22px;
  margin-top: 25px;
}

.container-social {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}

.container-social span {
  font-family: "Oswald";
  font-weight: 300;
  color: #252525;
}

.container-buttons-social a:link,
.container-buttons-social a:visited {
  color: #666;
  font-size: 15px;
}

.container-buttons-social {
  display: flex;
  gap: 15px;
  align-items: center;
}

.container-buttons-social a:hover {
  color: #1bbeb4;
}

.container-related-products {
  padding: 70px;
}

.container-related-products h2 {
  text-align: left;
  margin-bottom: 30px;
  font-family: "Oswald";
}

.card-list-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  cursor: pointer;
}

.product-imgs {
  display: flex;
  width: 48%;
  gap: 2%;
}

.container-product-info {
  width: 50%;
}

.card-img {
  background: transparent;
  margin-bottom: 15px;
}

.card-img img {
  height: 400px;
  object-fit: cover;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card {
  display: flex;
  justify-content: space-between;
}

.text-product {
  color: #252525;
  font-weight: 300;
  line-height: 1.4;
}

.text-product h3 {
  color: inherit;
  font-weight: inherit;
  font-size: 15px;
}

.text-product p {
  color: #666;
  font-size: 13px;
}

.text-product h3:hover {
  color: #1bbeb4;
}

.text-product p:hover {
  color: #1bbeb4;
}

#r-viewed {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
  display: flex;
  height: fit-content;
  margin: 79px 0;
  width: 100%;
  align-items: center;
}

.wrapper {
  padding: 0 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  position: relative;
  font-family: "Roboto Condensed";
}

.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #1b1915;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  box-shadow: 2px 4px 16px 2px rgba(0, 0, 0, 0.25);
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #fffdfd;
}

.wrapper i:first-of-type {
  left: 50px;
  display: none;
  z-index: 2;
}

.wrapper i:last-child {
  right: 50px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel a {
  position: relative;
  display: inline-block;
  width: calc(72% / 3);
  margin-left: 14px;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 416px;
  object-fit: cover;
  user-select: none;
  width: 100%;
}

#carrusel > a {
  margin: auto;
  display: block;
  margin-top: 50px;
  border: 3px solid rgb(14, 14, 14);
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  width: fit-content;
  text-decoration: none;
  color: rgb(8, 8, 8);
  font-family: "Oswald";
  transition: 0.2s;
}

#carrusel > a:hover {
  background-color: #1b1915;
  color: #f5f5f5;
}

/*@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}*/




.reviews-counter {
  font-size: 13px;
}
.reviews-counter span {
  vertical-align: -2px;
}
.rate {
  float: left;
  padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 21px;
  color: #ccc;
  margin-bottom: 0;
  line-height: 21px;
}
.rate:not(:checked) > label:before {
  content: "\2605";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#image-popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.popup-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-color: rgba(0, 0, 0, 0.5); /* color semitransparente para oscurecer el fondo */
  z-index: 999; /* asegura que el overlay esté en la parte superior */
}


/*--------------------------------------RESPONSIVE----------------------------------------------------*/

@media (max-width: 800px) {
  #logo img {
    height: 20px;
    width: 192px;
    margin-left: -65px;
  }

  main {
    flex-direction: column;
    padding: 0 20px;
    gap: 4px;
    margin-bottom: 19px;
}

  .product-gallery {
    width: 100%; /* Hacer que el ancho del elemento sea 100% */
    margin-bottom: 30px; /* Añadir margen inferior */
  }

  .img-container img {
    height: 368px;
    width: fit-content;
}
  .product-small-img {
   /* width: 100%;*/
    height: 75px;
  }

  .product-small-img img {
    margin: 7.5px 0px;
    height: 89px;
    width: max-content;
}
  

  .card-wrapper {
    margin: 0 8%;
    width: 100%;
  }

  .card-principal {
    width: 90%;
    flex-direction: column;
  }

  .img-display {
    width: 100%;
  }
  
  .img-select {
    width: 100%;
  }
  
  .container-info-product {
    width: 90%;
  }

  .container-price {
    font-size: 20px;
  }
  
  .form-group select {
    width: 100%;
  }
  
  .form-group label {
    width: 36px;
  }
  
  .btn-add-to-cart {
    width: 100%;
  }
  
  .product-imgs {
    display: flex;
    width: 70%;
    gap: 2%;
  }
  
  .container-related-products {
    padding: 39px;
}
  
  .form-group label {
    width: 36px;
    color: #222;
    font-weight: 700;
  }

  
  .product-imgs {
    display: flex;
    gap: 2%;
    width: 100%;
  }
  
  .card-wrapper {
    /*flex: 1;*/
    margin: 0 auto;
    margin: 0 11%;
  }

  .wrapper i:last-child {
    right: -21px;
}

.wrapper i:first-of-type {
  left: -15px;
}
  
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }

  .carousel > a {
    width: 100%;
  }
}